PORT=5000
MONGO_URI=mongodb://localhost:27017/week11_wearable_auth
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=2h
REFRESH_TOKEN_SECRET=change-this-too-use-different-long-random-secret
REFRESH_TOKEN_EXPIRES_IN=7d
# 64 hex chars (32 bytes)
ENCRYPTION_KEY=00112233445566778899aabbccddeeff00112233445566778899aabbccddeeff
